---
import AdminDashboard from '../components/AdminDashboard.vue';
import 'bootstrap/dist/css/bootstrap.min.css';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Panel Admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"/>
    <!-- ✅ Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      defer
    ></script>
  </head>
  <body>
    <AdminDashboard client:load />
  </body>
</html>
