---
import LoginForm from '../components/LoginForm.vue';
import 'bootstrap/dist/css/bootstrap.min.css';
import 'bootstrap-icons/font/bootstrap-icons.css';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Iniciar sesión</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" defer></script>
  </head>
  <body>
    <LoginForm client:load />
  </body>
</html>
